@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
}
  

<br/>
<br/>
<br/>
<br/>
<br/>
   


<div class="divide-nav">
    <div class="container">
        <p class="divide-text">Son Text Here</p>
    </div>
</div>
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="50">
    <div class="container">
        <div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    @(Html.Kendo().ComboBox()
                        .Name("Products")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(new List<SelectListItem>
                        {
                            new SelectListItem
                            {
                                Text = "First Item",
                                Value = "1"
                            },
                            new SelectListItem
                            {
                                Text = "Second Item",
                                Value = "2"
                            },
                            new SelectListItem
                            {
                                Text = "Third Item",
                                Value = "3"
                            }
                        })
                    )
                </div>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
 
@*<style type="text/css">
    #con .well {
        height: 390px;
    }

    #nav.affix {
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nav").affix();
    });
</script>*@ 

****
<br/>
<br/>
<br/>
<br/>
<br/>

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

******

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/> 

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

****

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

